@page "/"

<PageTitle>Homepage</PageTitle>

<h1>Hello, world!</h1>

<PrettyCode CodeFile="https://raw.githubusercontent.com/RageFlow/BlazorTemplateApp/master/BlazorTemplateApp/Pages/ObjectOrientedProgramming/Data.cs"
            CodeFileLineNumbers="1-1000"
            CodeSectionFileLineNumbers=""
            KeepOriginalLineNumbers="true"
            ShowException="false">
</PrettyCode>
