@page "/"

<PageTitle>Homepage</PageTitle>

<h1>Hello, world!</h1>

<PrettyCode CodeFile="https://raw.githubusercontent.com/RageFlow/BlazorTemplateApp/55c8c7ba6928736cb164579f776b89af2b9b27cc/BlazorTemplateApp/Pages/Index.razor"
            CodeFileLineNumbers="1,6"
            CodeSectionFileLineNumbers="13"
            KeepOriginalLineNumbers="true"
            ShowException="false">
</PrettyCode>
