@page "/"

<PageTitle>Homepage</PageTitle>

<h1>Hello, world!</h1>

<PrettyCode CodeFile="Pages/Index.razor"
            CodeFileLineNumbers="2,28"
            CodeSectionFileLineNumbers="50-56"
            KeepOriginalLineNumbers="true">
</PrettyCode>
