@page "/ObjOriProg"
@using System.Collections.ObjectModel
@inject CodeDisplayService codeDisplayService;

<PageTitle>Object Oriented Programming</PageTitle>
<h3>Object Oriented Programming</h3>

@if (!String.IsNullOrEmpty(Exception))
{
    <h4>Exception: @Exception</h4>
}

<span>Console:</span>
<div class="Console-Window">

    @foreach (var item in consoleEmulator)
    {
        <span>@item</span>
    }

</div>


@code {
    public static string NavigateMe() => "/ObjOriProg";
    public static string PageName() => "Object Oriented Programming";

    static string Exception = string.Empty;
    static ObservableCollection<string> consoleEmulator = new();

    protected override async void OnInitialized()
    {
        //Kode for at vise specifikke filer i CodeDisplay
        await codeDisplayService.UpdateFiles(new List<string>() {
            "Pages/ObjectOrientedProgramming/ObjData.cs",
            "Pages/ObjectOrientedProgramming/IntAbsEnum.cs"
        });

        try
        {
            consoleEmulator = ObjData.MainMethod();
        }
        catch (Exception e)
        {
            Exception = e.Message;
            return;
        }

        StateHasChanged();
    }
}
