@page "/ObjOriProg"
@using System.Collections.ObjectModel
@inject CodeDisplayService codeDisplayService;

<PageTitle>Object Oriented Programming</PageTitle>
<h3>Object Oriented Programming</h3>

<span>Console:</span>
<div class="Console-Window">
    <ConsoleEmulator @bind-consoleData="ObjData.consoleEmulator" />
</div>


@code {
    public static string NavigateMe() => "/ObjOriProg";
    public static string PageName() => "Object Oriented Programming";

    static string Exception = string.Empty;

    protected override async void OnInitialized()
    {
        //Kode for at vise specifikke filer i CodeDisplay
        await codeDisplayService.UpdateFiles(new List<string>() {
            "Pages/ObjectOrientedProgramming/ObjData.cs",
            "Pages/ObjectOrientedProgramming/IntAbsEnum.cs"
        });

        try
        {
           ObjData.MainMethod();
        }
        catch (Exception e)
        {
            ObjData.consoleEmulator.Add("Exception: " + e.Message);
            return;
        }

        StateHasChanged();
    }
}
