
@code{
    string github = "https://raw.githubusercontent.com/RageFlow/BlazorTemplateApp/master/BlazorTemplateApp/Pages/";
}

<p>Code display code:</p>

<PrettyCode CodeFile="@github + ObjectOrientedProgramming/ObjectOrientedProgramming.razor"
            CodeFileLineNumbers="1-1000"
            CodeSectionFileLineNumbers="0"
            KeepOriginalLineNumbers="true"
            ShowException="false"
            Title="ObjectOrientedProgramming.razor"
            ShowCollapse="true" 
           IsCollapsed="true" />

<PrettyCode CodeFile="@github + ObjectOrientedProgramming/Data.cs"
            CodeFileLineNumbers="1-1000"
            CodeSectionFileLineNumbers="0"
            KeepOriginalLineNumbers="true"
            ShowException="false"
            Title="Data.cs"
            ShowCollapse="true" 
           IsCollapsed="true" />

<PrettyCode CodeFile="@github + ObjectOrientedProgramming/IntAbsEnum.cs"
            CodeFileLineNumbers="1-1000"
            CodeSectionFileLineNumbers="0"
            KeepOriginalLineNumbers="true"
            ShowException="false"
            Title="IntAbsEnum.cs"
            ShowCollapse="true" 
           IsCollapsed="true" />