@page "/ThreadsWithBlock"
@using System.Collections.ObjectModel
@inject CodeDisplayService codeDisplayService;

<PageTitle>Threads With Block</PageTitle>
<h3>Threads With Block</h3>

<span>Console:</span>
<ConsoleEmulator @bind-consoleData="ThreadsWithBlockData.consoleEmulator" />

@code {
    public static string NavigateMe() => "/ThreadsWithBlock";
    public static string PageName() => "Threads With Block";

    static string Exception = string.Empty; 

    protected override async void OnInitialized()
    {
        //Kode for at vise specifikke filer i CodeDisplay
        await codeDisplayService.UpdateFiles(new List<string>() {
            "Pages/ThreadsWithBlock/ThreadsWithBlockData.cs"
        });

        try
        {
            ThreadsWithBlockData.MainMethod();
        }
        catch (Exception e)
        {
            ThreadsWithBlockData.consoleEmulator.Add("Exception: " + e.Message);
            return;
        }

        StateHasChanged();
    }
}
