@page "/ObjOriThre"
@using System.Collections.ObjectModel
@inject CodeDisplayService codeDisplayService;

<PageTitle>Object Oriented Threads</PageTitle>
<h3>Object Oriented Threads</h3>

@if (!String.IsNullOrEmpty(Exception))
{
    <h4>Exception: @Exception</h4>
}

<div class="Console-Window">
    <ConsoleEmulator @bind-consoleData="ThreadData.consoleEmulator" />
</div>

@code {
    public static string NavigateMe() => "/ObjOriThre";
    public static string PageName() => "Object Oriented Threads";

    static string Exception = string.Empty;

    protected override async void OnInitialized()
    {
        //Kode for at vise specifikke filer i CodeDisplay
        await codeDisplayService.UpdateFiles(new List<string>() {
            "Pages/ObjectOrientedThreads/ThreadData.cs"
        });

        try
        {
            ThreadData.MainMethod();
        }
        catch (Exception e)
        {
            ThreadData.consoleEmulator.Add("Exception: " + e.Message);
            return;
        }

        StateHasChanged();
    }

    
}
