@page "/ObjOriThre"
@using System.Collections.ObjectModel
@inject CodeDisplayService codeDisplayService;

<PageTitle>Object Oriented Threads</PageTitle>
<h3>Object Oriented Threads</h3>

<div class="Console-Window">

    @foreach (var item in consoleEmulator)
    {
        <span>@item</span>
    }

</div>

@code {
    public static string NavigateMe() => "/ObjOriThre";
    public static string PageName() => "Object Oriented Threads";

    static string Exception = string.Empty;
    static ObservableCollection<string> consoleEmulator = new();

    protected override async void OnInitialized()
    {
        //Kode for at vise specifikke filer i CodeDisplay
        await codeDisplayService.UpdateFiles(new List<string>() {
            "Pages/ObjectOrientedThreads/ThreadData.cs"
        });

        try
        {
            consoleEmulator = ThreadData.MainMethod();
        }
        catch (Exception e)
        {
            Exception = e.Message;
            return;
        }

        StateHasChanged();
    }

    
}
