@page "/ObjOriThre"
@using System.Collections.ObjectModel
@inject CodeDisplayService codeDisplayService;

<PageTitle>Object Oriented Threads</PageTitle>

@if (!String.IsNullOrEmpty(Exception))
{
    <h4>Exception: @Exception</h4>
}

@foreach (var item in consoleEmulator)
{
    <p>@item</p>
}

@code {
    public static string NavigateMe() => "/ObjOriThre";
    public static string PageName() => "Object Oriented Threads";

    static string Exception = string.Empty;
    static ObservableCollection<string> consoleEmulator = new();

    protected override async void OnInitialized()
    {
        //Kode for at vise specifikke filer i CodeDisplay
        await codeDisplayService.UpdateFiles(new List<string>() {
            "Pages/ObjectOrientedThreads/ThreadData.cs"
        });

        try
        {
            consoleEmulator = ThreadData.MainMethod();
        }
        catch (Exception e)
        {
            Exception = e.Message;
            return;
        }
    }

    
}
