@using System.Collections.ObjectModel

<div class="Console-Window">

    @foreach (var item in consoleData)
    {
        <div style="display: flex;width: 100%;">
            @if (item != string.Empty)
            {
                <span style="padding-right: 5px">C:\</span>
            }
            else
            {
                <span style="opacity: 0;">|</span>
            }
            <span>@item</span>
        </div>
    }

    <div style="display: flex;width: 100%;">
        <span>C:\></span><input type="text" class="Console-Input" @bind-value="@consoleInput" @onkeyup="KeyboardUpEventHandler" />
    </div>

</div>

@code {

    [Parameter]
    public ObservableCollection<string> consoleData { get; set; } = new();
    [Parameter]
    public EventCallback<ObservableCollection<string>> consoleDataChanged { get; set; }

    [Parameter]
    public EventCallback<string> keyPressed { get; set; }

    private static string consoleInput { get; set; } = "";

    private void KeyboardUpEventHandler(KeyboardEventArgs args)
    {
        KeyPressed(args.Key);

        if (args.Key == "Enter")
        {
            consoleData.Add(consoleInput);
            RunCommand(consoleInput);
            consoleInput = string.Empty;
        }
    }

    private static void RunCommand(string input)
    {

    }

    private void KeyPressed(string key){
        keyPressed.InvokeAsync(key);
    }

    public static void CleanInput() => consoleInput = string.Empty;
}
